body,div,h1,h2,p,ol,ul,li,aside{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
	color:#EFEFEF;
	text-decoration:none;
}

img{
	max-width:100%;
}

@-webkit-viewport {
    width:device-width;
}

@-moz-viewport {
    width:device-width;
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

@viewport {
    width:device-width;
}

em{
	color:#ff9900;
	font-style:normal;
}

body{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
    font-family:Helvetica ,sans-serif !important;
    color: #efefef;
    background:url(../images/bg.png) #f5f5f5;
	font-size:16px;
}

#header{
	height:100px;
	width:100%;
	background:rgba(0, 0, 0, .7);
	overflow:hidden;
}

.wrapper, #controls, #visualization{

}
	
.wrapper{
	max-width:100%;
	margin:0 auto;
	width:1024px;
	position:relative;
	padding:10px;
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	

}

#logo{
	float:left;
	margin-top:10px;
}

#project-title{
	float:left;
	margin-top:20px;
	font-weight:bold;
	font-size:30px;
	padding:0 0 0 10px;
	text-shadow:1px 1px 1px #333;
}

#main-container{
	position:relative;
}

aside{
	float:left;
	width:20%;
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;	
}

#visualization{
	float:left;
	width:74%;
	margin-left:1%;
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

aside nav{
	position:relative;
}

aside nav ul li{
	list-style:none;
	padding:10px;
	margin-top:10px;
	height:20px;
	background:rgba(0, 0, 0, .7);
}

aside nav li:hover{
	border-left:5px solid #ff9900;
	margin-left:-5px;
}

aside nav li ul{
	margin:0;
	padding:0;
	display:none;
	width:100%;
}

aside nav li:hover ul{
	display:block;
	position:absolute;
}

aside nav li ul li:hover{
	border:0;
	margin-left:0;
	background:#ff9900;
}

aside li:hover li{
	background:#494949;
}

aside nav ul ul{
	margin:10px 0 0 -10px;
}
